:root {
    --white-color: #ffffff;
    --light-blue-color: #9BD1E5;
    --blue-rgba-color: rgba(62, 88, 146, 0.8);
    --black-color: #000000;
    --yellow-color: #FFEE38;
    --blue-color: hsl(221, 40%, 41%);

}


body {
    display: block;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: var(--white-color);
    max-width: 100%;
    line-height: 1.6;
}


header {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center; 
    background-color: var(--blue-color);
    padding: 10px 50px 10px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.navbar {
    display: flex;
    align-items: center; 
    gap: 35px;
    
}

.navbar a {
    color: var(--white-color);
    font-family: "Roboto", sans-serif;
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;   
}

nav a:hover {
    background-color: var(--light-blue-color);
    border-radius: 10px; 
}


header img {
    width: 100px; 
    height: auto;
}

main {
    display: block;
    width: 100%;
}

.about-us-hero {
    position: relative;
}

.about-us-hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.about-us-hero h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 80%;
    background-color: var(--blue-rgba-color);
    font-family: "Roboto", sans-serif;
    color: var(--white-color);
    font-size: 3em;
}

.about-us-hero article {
    position: absolute;
    border-radius: 5px;
    bottom: 1%;
    left: 5%;
    /* transform: translateX(-50%); */
    width: 90%;
    background-color: var(--blue-rgba-color);
    padding: 10px;
    
}

.about-us-hero article img {
    float: right;
    width: 250px;
    height: auto;
    border-radius: 10px;
    padding-left: 20px;

}

.about-us-hero article h3 {
    text-align: justify;
    margin: 0 auto;
}

.about-us-hero article p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    margin: 0 auto;
    color: var(--white-color);
    text-align: justify;
    /* padding-top: 4.5%; */
}


.history-section {
    padding: 40px;
    background-color: var(--light-blue-color);
    border: 1px solid var(--white-color);
    border-radius: 10px;
    margin: 40px 0;
    text-align: center;
}

.history-section h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.history-content img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
}

.history-content p {
    font-size: 1em;
    line-height: 1.6;
    margin: 0;
}

.wireframe {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1em;
}

.adventures-section {
    padding: 40px;
    background-color: var(--light-blue-color); 
    text-align: center;
    margin: 40px 0; 
    border-radius: 10px;

}

.adventures-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}

.adventures-section figure {
    margin: 0;
    text-align: center;
}

.adventures-section figure img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

figcaption {
    font-size: 0.8em;
    color: var(--black-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    padding: 40px;
    border-radius: 10px;
    gap: 15px;
}

footer p {
    margin: 0;
    font-size: 1em;
    color: var(--white-color); 
}

footer a {
    text-decoration: none;
    font-size: 0.5em;
}

.sociallinks {
    display: flex;
    gap: 10px;
}

.sociallinks a img {
    width: 20px;
    height: auto;
    border-radius: 5px;
}


/* CSS Contact us bellow */

.main-contact {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.company-info {
    background-color: var(--light-blue-color);
    padding: 40px 30px 60px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.company-info h2 {
    font-size: 2em;
    color: var(--black-color);
    margin-bottom: 15px;
}


.company-info p {
    font-size: 1em;
    margin: 20px 0;
}


.company-info a {
    color: var(--black-color);
}


.map-container {
    margin-top: 30px;
}

.map-container iframe {
    width: 30%;
    height: auto;
}


.employee-images-section {
    grid-column: 1/2;
    padding: 40px 0 100px 0;
    background-color: var(--light-blue-color); 
    text-align: center;
    margin-bottom: 30px; 
    border-radius: 10px;
}

.employee-images-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.employee-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.employee-images-section img {
    width: 200px;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}


#employee-img {
    padding-top: 40px;
    border-radius: 10px;
}


.contact-form-section {
    width: 75%;
    grid-column: 2/3;
    grid-row: 1/3;
    background-color:var(--white-color);
    padding: 40px;
    border-radius: 30px;
    border: 10px solid var(--light-blue-color);
    max-width: 80%;
    margin: 0 auto;
}


.contact-form-section fieldset {
    border: 2px solid var(--light-blue-color);
}

.contact-textarea {
    margin-bottom: 15px;
}

.contact-form-section h2 {
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    color: var(--blue-color);
    /* margin-bottom: 15px; */

}

.contact-form-section label {
    display: block;
    /* margin-bottom: 5px; */
    font-size: 1em;
}


.contact-form-section legend {
    font-size: 1.5em;
}

.contact-form-section input[type="text"], .contact-form-section input[type="email"] {
    width: 97.3%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid var(--light-blue-color);
    border-radius: 4px;
}

.contact-form-section textarea {
    width: 97.3%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid var(--light-blue-color);
    border-radius: 4px;

}

.radio-group label,
.contact-checkbox-group label {
    display: block;
    margin-bottom: 10px;
}

.contact-form-section input[type="radio"], .contact-checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

#message {
    font-size: 1em;
}

.textarea textarea {
    resize: vertical;
}

.contact-submit-button {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: auto;
    display: block;
    margin: 20px auto;
}

.contact-submit-button:hover {
    background-color: var(--light-blue-color);
}


/* Home page CSS bellow */

.index-hero {
    position: relative;
}

.index-hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 10px;
}


.index-hero h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 60%;
    background-color: var(--blue-rgba-color);
    font-family: "Roboto", sans-serif;
    color: var(--white-color);
    font-size: 3em;
}

.imgs-over-index-hero {
    position: absolute;
    bottom: 0%;
    left: 38%;
    /* transform: translateX(-50%); */
    width: 100%;
    /* padding: 30px; */
}


.imgs-over-index-hero img {
    float: left;
    width: 150px;
    height: auto;
    /* border-radius: 20px; */
    margin: 15px;
    border: 2px solid var(--light-blue-color);

}

.imgs-over-index-hero h2, .imgs-over-index-hero p {
    margin: 0 auto;
}


.cta-newsletter-section {
    display: flex;
    /* flex-direction: row;  */
    gap: 20px; 
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px 20px; 
    background-color: var(--light-blue-color);
    border-radius: 30px;
    margin: 20px auto;
    width: 75%;
    flex-wrap: wrap;
}


.cta-section {
    text-align: center;
    background-color: var(--white-color);
    padding: 20px; 
    border-radius: 10px;
    /* border: 6px solid var(--blue-color); */
    width: 400px;
    flex: 2;
}

.cta-section img {
    width: 100%;
    width: 500px; 
    margin-bottom: 20px;
    border-radius: 10px;
}

.cta-section h2,
.trips-table-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.cta-section p {
    font-size: 1em; 
    margin-bottom: 20px;
    
}


.cta-button {
    background-color: var(--blue-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 110px;
    display: block;
    margin: 20px auto;
}

.cta-button:hover {
    background-color: var(--light-blue-color);
}



.large-image {
    max-width: 300px; 
    /* flex: 1; */
    
}

.newsletter-form fieldset {
    border: 2px solid var(--light-blue-color);
}

.newsletter-form {
    background-color: var(--white-color);
    border-radius: 10px;
    border: 5px solid var(--blue-color);
    padding: 10px; 
    width: 300px;
    height: auto;
    /* width: 100%; */
    
}

.newsletter-form legend {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.newsletter-form label {
    font-size: 1em;
    display: block;
    /* margin-bottom: 30px; */
}

.newsletter-form input[type="text"], .newsletter-form input[type="email"] {
    width: 94%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--light-blue-color);
    border-radius: 4px;
    font-size: 1em; 
}

.newsletter-form input[type="submit"] {
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 10px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em; 
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

.newsletter-form input[type="submit"]:hover {
    background-color: var(--light-blue-color);
}



/* CSS for trips.html bellow */

.trips-cta-section {
    text-align: center;
    background-color: var(--light-blue-color);
    padding: 30px 10px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 1200px;
}

.trips-cta-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.trips-cta-section p {
    font-size: 1em;
    margin-bottom: 20px;
}


.trips-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 60px 30px;
    background-color: var(--light-blue-color);
    border-radius: 10px;
    margin: 40px auto;
    max-width: 1400px;
}

.trip {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trip img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}


.trips-table-section {
    padding: 40px 30px;
    background-color: var(--light-blue-color);
    border-radius: 10px;
    margin: 40px auto;
    max-width: 1400px;
    text-align: center;
}

.trips-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.trips-table th, .trips-table td {
    border: 2px solid var(--blue-color);
    padding: 15px;
    font-size: 1.5em;
}

.trips-table th {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.trips-table tr:nth-child(even) {
    background-color: var(--white-color);
}

.trips-table tr:nth-child(odd) {
    background-color: var(--light-blue-color);
}


.trip h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.trip p {
    font-size: 1em; 
    margin-bottom: 30px;
}

