:root {
    --white-color: #ffffff;
    --orange-color: #F27416;
    --orange-rgba-color: rgba(242, 116, 22, 0.8);
    --black-color: #000000;
    --blue-background-color: #304474;

}

a {
    text-decoration: none;
}

p {
    display: block;
    font-size: 40px;
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    /* unicode-bidi: isolate; */
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

body {
    display: block;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    color: var(--black-color);
    max-width: 80%;
    margin: auto;
    line-height: 1.6;
}


header {
    display: block;
    /* unicode-bidi: isolate; */
    background-color: var(--orange-color);
    /* color: var(--white-color); */
    padding: 10px 20px;
    font-size: 40px;
}

header img {
    width: 100px;
    height: auto;
}

main {
    display: block;
    /* unicode-bidi: isolate; */
}

.hero {
    position: relative;
}

/* div {
    display: block;
    unicode-bidi: isolate;
} */

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    width: 98.5%;
    text-align: center;
    bottom: 80%;
    background-color: var(--orange-rgba-color);
    color: var(--white-color);
    font-size: 5em;
    padding: 10px;
}

/* h1 { */
    /* display: block; */
    /* font-size: 2em; */
    /* margin-block-start: 0.67em; */
    /* margin-block-end: 0.67em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    /* font-weight: bold; */
    /* unicode-bidi: isolate; */
/* } */

.hero article {
    position: absolute;
    bottom: 40%;
    left: 65%;
    transform: translateX(-50%);
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    
}

.hero article img {
    float: right;
    width: 40%;
    height: auto;
    margin-left: 15px;
    margin-bottom: 15px;

}

.hero article p {
    margin-top: 10px;
    color: #ffff;
}

article {
    display: block;
    /* unicode-bidi: isolate; */
}

/* img {
    overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: ;
    overflow-y: ;
} */


section {
    display: block;
    unicode-bidi: isolate;
}

footer {
    background-color: var(--orange-color);
    width: ;
    padding: 10px 0;
}

footer nav img {
    width: 80px;
}