:root {
    --white-color: #ffffff;
    --orange-color: #F27416;
    --orange-rgba-color: rgba(242, 116, 22, 0.8);
    --black-color: #000000;
    --blue-color: #304474;

}

a {
    text-decoration: none;
    color: inherit;
}

p {
    display: block;
    font-size: 40px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}


body {
    display: block;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    color: var(--black-color);
    max-width: 80%;
    margin: auto;
    line-height: 1.6;
}


header {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center; 
    background-color: var(--orange-color);
    padding: 10px 50px 10px 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}


.navbar {
    display: flex;
    align-items: center; 
    gap: 60px;
    
}

.navbar a {
    color: var(--white-color);
    padding: 10px;
    text-decoration: none;
    font-size: 3em;
    transition: background-color 0.3s ease;   
}

.navbar a:hover {
    background-color: var(--blue-color);
    border-radius: 10px; 
}

header img {
    width: 200px; 
    height: auto;
}

main {
    display: block;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hero h1 {
    position: absolute;
    width: 99.6%;
    text-align: center;
    bottom: 80%;
    background-color: var(--orange-rgba-color);
    color: var(--white-color);
    font-size: 5em;
    padding: 10px;
}

.hero article {
    position: absolute;
    bottom: 40%;
    left: 65%;
    transform: translateX(-50%);
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    
}

.hero article img {
    float: right;
    width: 40%;
    height: auto;
    margin-left: 15px;
    margin-bottom: 15px;

}

.hero article p {
    margin-top: 10px;
    color: #ffff;
}

article {
    display: block;
   
}


section {
    display: block;
    unicode-bidi: isolate;
}

/* Just added it bellow: */

.history-section {
    padding: 40px;
    background-color: var(--orange-color);
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 40px 0;
    text-align: center;
}

.history-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.history-content img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
}

.history-content p {
    font-size: 3em;
    line-height: 1.6;
    margin: 0;
}

.adventures-section {
    padding: 40px;
    background-color: var(--orange-color); 
    text-align: center;
    margin: 40px 0; 

}

.adventures-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}

figure {
    margin: 0;
    text-align: center;
}

figure img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
}

figcaption {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

footer {
    background-color: var(--orange-color);
    padding: 10px 0;
}

footer nav img {
    width: 80px;
}